[submodule "interface"]
	path = interface
	url = git@github.com:EpitechMscPro2020/interface.git
[submodule "python-api"]
	path = python-api
	url = git@github.com:EpitechMscPro2020/python-api.git
[submodule "nestjs-api"]
	path = nestjs-api
	url = git@github.com:EpitechMscPro2020/nestjs-api.git
[submodule "t-zone-website"]
	path = t-zone-website
	url = git@github.com:EpitechMscPro2020/t-zone-website.git
