[submodule "interface"]
	path = interface
	url = git@github.com:EpitechMscPro2020/interface.git
[submodule "python-api"]
	path = python-api
	url = git@github.com:EpitechMscPro2020/python-api.git
[submodule "tzone-website"]
	path = tzone-website
	url = git@github.com:EpitechMscPro2020/tzone-website.git
