[submodule "interface"]
	path = interface
	url = git@github.com:Sandra-I/interface-tzone-Epitech.git
[submodule "python-api"]
	path = python-api
	url = git@github.com:Sandra-I/python-api-tzone-Epitech.git
[submodule "nestjs-api"]
	path = nestjs-api
	url = git@github.com:Sandra-I/nestjs-api-tzone-Epitech.git
[submodule "t-zone-website"]
	path = t-zone-website
	url = git@github.com:Sandra-I/tzone-website-Epitech.git
